.container {
    @include position(relative) ;
    width: $container-width;
    overflow: hidden;   
    /* Button for Video play */
    .video-play-button {             
        color: transparentize($white, 0.5);
        text-decoration: none;        
    }

    .image{
        @include autoHeight;
        @include position(absolute,1);
        left:0px;
        top:0px;
    }

    .overlay{
        @include flex;
        @include flex-align(center, center);
        flex-direction : column;
        @include position(absolute,2);
        @include fullbox;   
        left:0px;
        top:0px;        
    }

    .banner-title {
        @include fontFamily(Gotham-Bold);        
        color: $white;
        margin: 0px;
        text-align:center;
        max-width:90%;
        letter-spacing: -3px;
    }

}
.height-1-of-5{
    height:20vh;
}
.height-2-of-5 {    
    height: 40vh;   
}

.height-3-of-5 {    
    height: 60vh;   
}
.height-4-of-5 {    
    height: 80vh;        
}

.height-5-of-5 {    
    height: 100vh;        
}

.width-1-of-5{
    width:20vw;
}
.width-2-of-5 {    
    width: 40vw;   
}

.width-3-of-5 {    
    width: 60vw;   
}
.width-4-of-5 {    
    width: 80vw;        
}

.width-5-of-5{    
    width: 100vw;        
}


.masonry{
    display: flex;
    flex-flow: column wrap;
    @include autoHeight;
}

.layout-5050{
    display: flex;
    flex-wrap: wrap;

    & > div{
        flex-basis: 50%;
    }
}

