@import '../global/variables';
@import '../global/colors';
@import '../global/flexbox';
@import '../global/mixins';
@import '../utils/layout';
@import '../utils/utils';

html,
body {
    font-size: $base-font-size;
    margin: 0px;
    padding: 0px;    
}

a {
    text-decoration: none;
    color: $secondary;
}
a:focus{
    outline: none;
}

.bgcolor-white {
    background: $white;
}

.bgcolor-black-700 {
    background: transparentize($secondary, 0.3);
}

.align-content-center {
    @include flex-align(center, center);
}

.align-content-right {
    @include flex-align(flex-end, null);
}

.align-content-left {
    @include flex-align(flex-start, null);
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.relative {
    position: relative;
}

.slides{
    position:relative;
    display:flex; 
}

/* Form Elements */
.form-control{
    display:flex;
    @include flex-align(null, center);
}
.input-plain{
    border:0px;
}
.input-plain:focus{
    outline: none;
}

.open{
    display:block;    
}
.close{
    display:none !important;
}

.flex-col{
    margin:0 pixel2Rem(35);    
}

