@import '../global/variables';
@import '../global/colors';
@import '../global/flexbox';

a{
    text-decoration: none;
    color: $secondary;
}
  
.bgcolor-white{
    background: $white;
}

.bgcolor-black-700{
    background: transparentize($secondary, 0.7);
}

.align-content-center{
    @include flex-align(center, center);
}

.align-content-right{
    @include flex-align(flex-end, null);
}

.align-content-left{
    @include flex-align(flex-start, null);
}

.no-padding-right{
    padding-right:0px !important;
}
.no-padding-left{
    padding-left:0px !important;
}
.no-padding-top{
    padding-top:0px !important;
}
.no-padding-bottom{
    padding-bottom:0px !important;
}
.no-padding{
    padding:0px !important;
}