html,
body {
    font-size: $base-font-size;
    margin: 0px;
    padding: 0px;    
}

a {
    text-decoration: none;
    color: $secondary;
}
a:focus{
    outline: none;
}

a, button, select {
    cursor: pointer;
}

.link{
    @include fontFamily(Gotham-Bold);
    color:$primary; 
    text-decoration:underline;   
}

.bgcolor-white {
    background: $white;
}

.bgcolor-black-700 {
    background: transparentize($secondary, 0.3);
}
.text-color-white{
    color:$white !important;
}
.contact-number {
    @include flex;
    flex-direction: row;
    color: $secondary;
    @include padding-r(10);
    h2 {
        margin: 0px;
        @include fontFamily(D-DIN-Bold);            
        @include flex;
        @include flex-align(null, center);
        @include padding-r(5);
    }
    .toll-number {
        @include fontFamily(D-DIN);            
        @include flex;
        @include flex-align(null, center);
    }
}

.align-content-center {
    @include flex-align(center, center);
}

.align-content-right {
    @include flex-align(flex-end, null);
}

.align-content-left {
    @include flex-align(flex-start, null);
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin{
    margin:0px;
}

.relative {
    position: relative;
}

.slides{
    position:relative;
    display:flex; 
}

/* Form Elements */
.form-control{
    display:flex;
    @include flex-align(null, center);
}
.input-plain{
    border:0px;
}
.input-plain:focus{
    outline: none;
}

.open{
    display:block;    
}
.close{
    display:none !important;
}

.flex{
    display:flex;
}
.flex-grow{
    flex:1;
}

.flex-row{
    flex-direction:column;    
}
.flex-col{
    flex-direction:row;
}
.column{
    display:flex;    
    margin:0 pixel2Rem(35); 
}

.row{
    display:flex;    
}

.spacer-140{
    height:140px;
    display:block;
}
.vertical-line{
    width:100%;
    height:2px;
    background:$white;
}

.m-border-right{
    &:before{
            content : ' ';
            display:block;
            width:2px;
            height:100%;
            background:transparentize($white, 0.85);
            position:absolute;
            left:-30px;
    }
        
}