@import 'variables';
@import 'mixins';
@import 'functions';

@mixin font-size($size){
    @include respond-to(x-small){
        @if($size > 30){
            font-size: pixel2Rem($size * 0.4);
        }
    }

    @include respond-to(small){
        @if($size > 30){
            font-size: pixel2Rem($size * 0.5);
        }
    }

    @include respond-to(medium){
        @if($size > 30){
            font-size: pixel2Rem($size * 0.8);
        }
    }

    @include respond-to(large){
        
        font-size: pixel2Rem($size);
        
    }

}
