.ad-notification{
    width:540px;
    height: 200px;
    background: rgba(0,0,0,0.8);
    @include position(fixed,99);
    bottom: 5%;            
    right:-540px;
    opacity: 0;

    .close-arrow{
        width:40px;
        height:40px;
        line-height:40px;
        background: rgba(0,0,0,0.8);
        display: block;        
        @include position(absolute,2);
        right:0px;
        top: 0px;
        color : $white;
        text-decoration:none;
        font-family: Arial Black;
        text-align:center;
    }

    .ad-notification-container{
        @include flex;
        @include fontFamily(Gotham-Book);

        & > div:first-child{
            padding:20px;
        }

        p{
            
            font-size: pixel2Rem(24);
            color:#fff;
            margin:0px;
            margin-bottom:40px;
            letter-spacing: -1px;
        }

        .links{
            display:flex;            

            a{
                @include fontFamily(Gotham-Bold);
                color:$primary;
                text-decoration:underline;
                text-transform: uppercase;
                font-size: pixel2Rem(14);
                padding-right:20px;

                &:hover{
                    text-decoration:none;
                }
            }
        }
    }

    &.show{
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
        
    }
}


@keyframes slide-in {    
    100% {opacity: 1; right:0px;}
}



@media (min-width:320px) and (max-width:640px){
    .ad-notification{
        width: 290px;
        height: 110px;
        left: 50%;
        margin-left: -145px;
        right:auto;

        .ad-notification-container{
            & > div:first-child{
                padding:10px;
            }
            p{
                font-size: pixel2Rem(12);
                margin-bottom:20px;
            }
            img{
                height:110px;
            }

            .links{                
                a{
                    
                    font-size: pixel2Rem(8);
                    padding-right:10px;    
                    &:last-child{
                        padding-right:0px;
                    }
                }


            }
        }

        .close-arrow{
            font-size:pixel2Rem(10);
            width: 20px;
            height:20px;
            line-height:20px;
        }

    }
}