@import '../global/mixins';
@import '../global/colors';
@import '../global/functions';
@import '../global/flexbox';
@import '../global/variables';
@import '../utils/utils';
.btn-outline {
    @include padding(20, 10);
    border: 1px solid $white;
    color: $white;
    display: block;
    @include transition;
    font-family: fontFamily($font-family, Gotham-Bold);
    @include font-size(12);
    text-decoration: none;    
    text-transform: uppercase;
    &:hover {
        background: $white;
        color: $secondary;
    }
}