%btn-primary{    
    @include padding(30, 15);
    @include transition;
    @include fontFamily(D-DIN-Bold); 
    display: block;            
    background : $primary;    
    color: $white;    
    text-decoration: none;    
    text-transform: uppercase;
    border:0px;    
    align-items: center;   
}

%btn-secondary{    
    @include padding(30, 15);
    @include transition;
    @include fontFamily(D-DIN-Bold); 
    display: block;            
    background : $secondary;    
    color: $white;    
    text-decoration: none;    
    text-transform: uppercase;
    border:0px;    
    align-items: center;   
}

.btn-outline {
    @include padding(30, 15);
    border: 1px solid $white;
    color: $white;
    display: block;
    @include transition;
    @include fontFamily(Gotham-Bold);    
    @include margin-t(10);
    text-decoration: none;    
    text-transform: uppercase;
    &:hover {
        background: $white;
        color: $secondary;
    }
}

.btn-cta{        
    @include flex;
    @include position(absolute,3);    
    bottom: 8.3%;    
    border:0px; 

    & button:not(:first-child), & a:not(:first-child){
        margin-left:pixel2Rem(10);
    }
    
}

.btn-primary{    
   @extend %btn-primary;
}
.btn-secondary{
    @extend %btn-secondary;
}

.btn-submit{
    @include padding(60, 20);
    @include transition;
    @include fontFamily(D-DIN-Bold); 
    display:inline-block;    
    background : $primary;    
    color: $white;    
    text-decoration: none;    
    text-transform: uppercase;
    border:0px;
}

