footer{
    @include flex;
    @include padding(20, 15);
    @include flex-align(null, center);
    background:$secondary;
    .logo-bottom{
        img{
            width:110px;
        }        
    }

    /* Footer navigations */
    .nav-bottom{
        list-style: none;
        margin:0px;

        li{
            display: inline-block;
            margin:0px 7px;
        }

        a {
            @include fontFamily(Gotham-Medium);
            font-size : 14;
            color:$nobel-gray;
        }
    }

    .widget{
        @include flex;
        @include flex-align(space-between, center);
        flex:1;

    }
    .widget-right, .widget-left{
        display:flex;
        @include flex-align(null, center);
    }
}

.social-icons{
    display:flex;
    li{
        height:36px;
        width:36px;        
        background:$white;
        border-radius:36px;
        list-style: none;
        margin:0 10px;

        a{
            display:block;
            width:36px;
            height:36px;
            line-height:36px;
            text-align:center;
            font-size:20px;
            transition: all .5s ease-in-out;
             &:hover{
                 color:$primary;
             }
        }
    }
}
