.form{
    margin-top:pixel2Rem(70);
    .form-control{
        @include flex;  
        flex:1; 
        @include margin(10,10);
        @include position(relative);
    }

    .form-group{
        @include flex;
        flex-direction:row;
    }
   
    input[type="text"],input[type="email"], select, textarea, .custom-select {
        @include fontFamily(Gotham-Book);
        font-size: pixel2Rem(18);
        @include padding(30,20);
        width:100%;
        border:0px;
        
    }

    label{
        @include fontFamily(Gotham-Bold);
        font-size: pixel2Rem(18);
        color: $white; 
        @include margin-l(10);
    }

    input[type="checkbox"]{
        height:30px;
        width:30px;
    }

    textarea{
        min-height:120px;
    }
    .form-checkbox{
        @include flex;
        @include flex-align(null, center);
    }


    .custom-select{
        @include flex;
        @include flex-align(null, center);
        background: $white;

        .custom-select-label{
            color:$secondary;
            width:100%;            
        }

    }


}


/* Custom Style for Select */

.skd-select{
    overflow: hidden;
    background:$white url(../image/down-arrow.png) no-repeat 98% 50%;
    select{
        @include fontFamily(Gotham-Book);
        font-size: pixel2Rem(18);
        @include padding(30,20);
        width:130%;
        border:0px;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        box-shadow: none;
        &:focus{
            outline: none;
        }
    }
}