.header {
    @include container(fixed, 100%, 70px, 0, 0, 34px); //container(Position, Width, Height, Left, Right, Top, Bottom)    
    z-index: 999;
    .row{
        @include flex-align(space-between, null);
    }
    /*
    @include respond-to(xs) {
        background: $light-gray;
    }
    @include respond-to(md) {
        background: transparent;
    }
    */
    /* Logo */
    .logo {
        width:154px;
        margin:auto 100px;
        img {
            width: 100%;
            height: auto;
        }
        // @include respond-to(xs) {
        //     left: pixel2Rem(10);
        //     width: pixel2Rem(100);
        // }
        // @include respond-to(md) {
        //     left: pixel2Rem(20);
        //     width: pixel2Rem(150);
        // }
        // @include respond-to(lg) {
        //     left: pixel2Rem(30);
        //     width: auto;
        // }
    }
}