.mobile-navigation{
    height: 64px;    
    background:$white;
    @include position(fixed);
    
    top:0px;
    width:100%;

    & > ul{
        display:flex;
        height: 64px;
        @include flex-align(space-between, null);
        padding:0px;
        margin:0px;       
        li{
            
            list-style: none;
            @include flex;
        }
    }

    .logo-mobile{
        height:45px;
        margin:10px 0px 0px 10px;
    }

    .booknow{
        font-size:pixel2Rem(16);
        @include padding(12, 0);
        width:100px;
    }
    .call-now{
        @include padding(20,20);
        display:block;
    }
    .mobile-toggle-menu{
        @include padding(20,12);
        background:$secondary;
    }
}

.main-navgitaion-mobile{
    background: transparentize($secondary, 0.2);
    @include padding(0,30);
    @include position(absolute, 999);
    top:0px;
    width:100%;
    @include fontFamily(Gotham-Bold);

    .menu-accordion{
        @include padding(30,0);
    }

    .beefup__head{
        @include padding(0,20);
        @include position(relative);        
        border-bottom:2px solid $border-color;
        
    }

    .beefup__head, .beefup__head > a{        
        color: $primary;         
        text-decoration:none;

        &.text-36{
            font-size:pixel2Rem(30);
        }

        .expand{
            @include position(absolute);
            right:10px;
            top: 20px;

            i{
                font-size:pixel2Rem(36);
                color: $white;
            }
        }
    }

    .beefup__body{
        @include padding(0,20);
    }

    .submenu-items{
        list-style: none;
        margin:0px;
        padding:0px;
        li{
            a{
                color:$nobel-gray;
                font-size: pixel2Rem(18);
                line-height: pixel2Rem(30);
            }
        }
    }


    .contact-detail-box{
        @include margin(30,0);
        @include padding(10,10);
        @include border-vertical(2, $border-color);
        @include flex;
        @include flex-align(space-between,null);
    }

    .choose-language-accordion{
        width:100px;
        .beefup__head, .beefup__head > a{
            color : $white;
            border:0px;
            @include fontFamily(D-DIN);
            letter-spacing: 1px;
            &.text-36{
                font-size:pixel2Rem(18);
            }            
        }

        .expand{
            @include position(absolute);
            right:10px;
            top: 20px;

            i{
                font-size:pixel2Rem(20);
                color: $white;
            }
        }

        .submenu-items{
            list-style: none;
            margin:0px;
            padding:0px;
            li{
                a{
                    color:$nobel-gray;
                    @include fontFamily(D-DIN);
                    font-size: pixel2Rem(18);
                    line-height: pixel2Rem(30);
                }
            }
        }

    }




}

.any-question-mobile{
    @include flex;
    @include flex-align(space-between, center);
    @include padding(30,20);
}

.booknow-form-mobile{
    @include flex;
    border-top:4px solid $primary;
    @include flex-align(null, center);
    & > div{                
        height:60px;
        @include flex;
        
    }
    .choose-activity{
        @include position(relative);
        padding:0px 10px 0px 20px;
        width:47%;
        border-right:1px solid $nobel-gray;

        .form-control{
            label{
                font-family : 'Gotham Book';
                width:165px;
            }
        }
        
        
    }

    .choose-date{
        padding:0px 20px 0px 10px;
        width:36%;
        .form-control{
            input{
                font-family : 'Gotham Book';
                width:80px;
            }
        }
    }

    


    .btn-book{
        background:#000;
        padding:0px 20px;
        width:70px;
        height:60px;
        color:#fff;
        border:0px;
        display: block;
        i{
            fill:#fff;
        }
    }
}