@import '../global/mixins';
@import '../global/colors';
@import '../global/functions';
@import '../global/flexbox';
@import '../global/variables';
@import '../utils/utils';
@import '../global/base';
.navbar {
    @include flex;
    @include respond-to(xs) {
        height: 100%;
        top: 0px;
    }
   
    .navbar-item {
        @include flex;
        @include flex-align(space-between, center); 
        @include padding(18, 0);
        span {
            flex: 1;
            @include fontFamily(Gotham-Book);
            text-transform: uppercase;
            @include font-size(12);
            @include padding-r(20);
        }
        i {
            @include font-size(20);            
        }
        &:nth-child(2) {
            border-left: 1px solid $light-gray;
            border-right: 1px solid $light-gray;
        }

        /*
        &.choose-activity {
            @include respond-to(xs) {
                min-width: 280px * 0.5;
            }
            @include respond-to(sm) {
                min-width: 280px * 0.6;
            }
            @include respond-to(md) {
                min-width: 280px * 0.8;
            }
            @include respond-to(lg) {
                min-width: 280px;
            }
        }
        &.choose-date {
            min-width: 186px;
        }
        */
        &.booknow {
            @include flex;
            @include flex-align(center, center);
            @include fontFamily(D-DIN-Bold);
            @include font-size(18);            
            text-align: center;
            color: $white;
            text-transform: uppercase;
            background: $primary;
            /*
            @include respond-to(sm) {
                min-width: 176px * 0.4;
            }
            @include respond-to(sm) {
                min-width: 176px * 0.5;
            }
            @include respond-to(md) {
                min-width: 176px * 0.6;
            }
            @include respond-to(lg) {
                min-width: 176px;
            }
            */
        }
        &.language {            
            color: $white;
            i {
                @include padding-r(0);
            }
        }
        &.toggle-menu {
            color: $white;
            @include padding-r(0);
            @include padding-l(0);
            i {
                @include padding(15, 0);
            }
        }
    }
    .contact-number {
        @include flex;
        flex-direction: row;
        color: $white;
        @include padding-r(10);
        h2 {
            margin: 0px;
            @include fontFamily(D-DIN-Bold);
            @include font-size(46);
            @include flex;
            @include flex-align(null, center);
            @include padding-r(5);
        }
        .toll-number {
            @include fontFamily(D-DIN);
            @include font-size(18);
            @include flex;
            @include flex-align(null, center);
        }
    }
}