@import '../global/mixins';
@import '../global/colors';
@import '../global/functions';
@import '../global/flexbox';
@import '../global/variables';
@import '../utils/utils';
.navbar {
    @include flex;
    
    .navbar-item {
        @include flex;
        @include flex-align(space-between, center); 
        @include padding(30, 0);
        @include position(relative,1);
        label, span {
            flex: 1;
            @include fontFamily(Gotham-Book);
            text-transform: uppercase;            
            
        }
        
        &:nth-child(2) {
            border-left: 1px solid $light-gray;
            border-right: 1px solid $light-gray;
        }

        &.choose-activity {
            input, label{
                width:250px;
                cursor: pointer;
            }
        }
        
        &.choose-date {
            input{
                width: 128px;    
                cursor: pointer;
            }
            
        }
       
        &.booknow {
            @include flex;
            @include flex-align(center, center);
            @include fontFamily(D-DIN-Bold);            
            text-align: center;
            color: $white;
            text-transform: uppercase;
            background: $primary;
            /*
            @include respond-to(sm) {
                min-width: 176px * 0.4;
            }
            @include respond-to(sm) {
                min-width: 176px * 0.5;
            }
            @include respond-to(md) {
                min-width: 176px * 0.6;
            }
            @include respond-to(lg) {
                min-width: 176px;
            }
            */
        }
        &.choose-language {
            input, label {
                width: 115px;
            }        
            color: $white;
            i {
                @include padding-r(0);
            }
        }
        &.toggle-menu {
            color: $white;
            @include padding-r(30);
            @include padding-l(0);
            
        }
    }
    .contact-number {
        @include flex;
        flex-direction: row;
        color: $white;
        @include padding-r(10);
        h2 {
            margin: 0px;
            @include fontFamily(D-DIN-Bold);            
            @include flex;
            @include flex-align(null, center);
            @include padding-r(5);
        }
        .toll-number {
            @include fontFamily(D-DIN);            
            @include flex;
            @include flex-align(null, center);
        }
    }
}

.dropdown{
    @include position(absolute);
    width: 100%;
    background: $white;
    border: 1px solid $light-gray;
    left: 0px;
    @include padding(0, 20);
    
    ul{
        list-style: none;
        margin:0px;
        padding: 0px;
    }

    li{
       a{            
           @include padding(30,10);
           @include fontFamily(Gotham-Book);           
           display:block;
       }
    }
}

.choose-language-dropdown{
    background: transparentize($secondary, 0.3);
    border:0px;

    ul{
        li{
            a{            
              color:$white;
            }
         }
    }
}