.news{

    .overlay{
        justify-content: flex-start !important;

        .banner-title{
            text-align:left;
            margin-top:40px;
        }

        .date{
            text-align: left;
            width:90%;
            margin-top:40px;
            
        }
    }
}