@import '../global/mixins';
@import '../global/colors';
@import '../global/functions';
@import '../global/flexbox';
@import '../global/variables';
@import '../utils/utils';
.slider {
    @include flex;
}

.slider-controls {
    position: absolute;
    width: 100%;
    z-index: 9;
    height: 66px;
    top: 50%;
    margin-top: -60px;
    .arrow {
        @include container(absolute, 66px, 66px);
        &.left {
            left: 0px;
        }
        &.right {
            right: 0px;
        }
    }
}