@import '../global/mixins';
@import '../global/colors';
@import '../global/functions';
@import '../global/flexbox';
@import '../global/variables';
@import '../utils/utils';
.slider {
    @include flex;
    .box {
        @include flex;
        @include container(relative, null, 80vh);
        flex: 1;
        overflow: hidden;
        .box-image {
            width: 100%;
            height: 100%;
        }
        .box-overlay {
            @include container(absolute, 100%, 100%);
            @include flex;
            @include flex-align(center, center);
            flex-direction: column;
            z-index: 9;
            h3 {
                font-family: fontFamily($font-family, Gotham-Bold);
                @include font-size(80);
                color: $white;
                letter-spacing: -1px;
                margin: 0px;
            }
        }
    }
}