@import '../global/mixins';
@import '../global/colors';
@import '../global/functions';
@import '../global/flexbox';
@import '../global/variables';
@import '../utils/utils';
.slider {
    @include flex;
}

.slider-controls {
    position: absolute;
    width: 100%;
    z-index: 9;
    height: 38px;
    top: 50%;
    margin-top: -19px;
    .arrow {
        @include container(absolute, 38px, 38px);
        &.left {
            left: 10px;
        }
        &.right {
            right: 0px;
        }
        img{            
            height:38px;
        }
    }
}