@import '../global/variables';
@import '../global/mixins';
@import '../global/flexbox';
@import '../global/colors';

#testimonials{
    .arrow {
        @include container(absolute, 44px, 44px);
        bottom:20px;
        img{
            width:auto;
            height:30px;
        }
        &.left{
            right:44px;            
        }
        &.right{
            right:0px;            
        }
    }
}
.testimonial {     
    img {
        width: 100%;
        height: 100%;
        @include absolute(1);
        bottom:0px;
        left:0px;
    }
    .client-info {
        @include absolute(9);
        top: 50%;
        right: 0px;
        background: transparentize($secondary, 0.26);
        max-height:214px;
        
        p{
            @include padding(30,30);
            @include fontFamily(Gotham-Book);
            @include font-size(26);
            color: $white;
            letter-spacing: -1px;
            display:block;            
            width:100%;
            margin:0px 0px 30px 0px;

            strong{
                @include fontFamily(Gotham-Bold);
                @include font-size(32);
                line-height:2rem; 
            }
            
            .quotes{
                @include font-size(60);
                display:block;
                height:12px;
                &.quote-right{
                    margin-top:20px;
                }
            }
        }
    }
    .client-name {
        @include absolute(1);
        left: 0px;
        top: -50px;
        background: $primary;
        @include padding(20, 15);
        color: $white;
        text-align: center;
    }
}