.hamburger .line{
    width: 30px;
    height: 2px;
    background-color: #FFF;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  .hamburger.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  .hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(-44deg);
    -ms-transform: translateY(-7px) rotate(-44deg);
    -o-transform: translateY(-7px) rotate(-44deg);
    transform: translateY(-7px) rotate(-44deg);
  }