.font-medium-bold {
    @include fontFamily(D-DIN-Bold);
    font-size: pixel2Rem(27);
}
.heading-white{
    color:$white;
    @include fontFamily(Gotham-Bold);
}

.text-all-caps{
    text-transform: uppercase;
}


@media (min-width:991px) and (max-width:1440px){
    .text-120{
        @include font-size(pixel2Rem(80));
    }
    .text-100{
        @include font-size(pixel2Rem(76));
    }
    
    .text-80{
        @include font-size(pixel2Rem(60));
    }
    .text-70{
        @include font-size(pixel2Rem(52));
    }
    .text-60{
        @include font-size(pixel2Rem(44));
    }
    .text-42{
        @include font-size(pixel2Rem(31));
    }
    .text-40{
        @include font-size(pixel2Rem(30));
    }
    .text-36{
        @include font-size(pixel2Rem(27));
    }
    .text-30{
        @include font-size(pixel2Rem(22));
    }
    .text-26{
        @include font-size(pixel2Rem(18));
    }
    .text-24{
        @include font-size(pixel2Rem(18));
    }
    .text-22{
        @include font-size(pixel2Rem(16));
    }
    .text-20{
        @include font-size(pixel2Rem(14));
    }
    .text-18{
        @include font-size(pixel2Rem(13));
    }
    .text-16{
        @include font-size(pixel2Rem(12));
    }
    .text-14{
        @include font-size(pixel2Rem(11));
    }
    .text-12{
        @include font-size(pixel2Rem(10));
    }
}

@media (min-width:1441px){
    .text-120{
        @include font-size-lg('120');
    }
    .text-100{
        @include font-size-lg('100');
    }
    
    .text-80{
        @include font-size-lg('80');
    }
    .text-70{
        @include font-size-lg('70');
    }
    .text-60{
        @include font-size-lg('60');
    }
    .text-42{
        @include font-size-lg('42');
    }
    .text-40{
        @include font-size-lg('40');
    }
    .text-36{
        @include font-size-lg('36');
    }
    .text-30{
        @include font-size-lg('30');
    }
    .text-26{
        @include font-size-lg('26');
    }
    .text-24{
        @include font-size-lg('24');
    }
    .text-22{
        @include font-size-lg('22');
    }
    .text-20{
        @include font-size-lg('20');
    }
    .text-18{
        @include font-size-lg('18');
    }
    .text-16{
        @include font-size-lg('16');
    }
    .text-14{
        @include font-size-lg('14');
    }
    .text-12{
        @include font-size-lg('12');
    }
    
}